.root {
    -fx-background-image: url("logo.jpg");
    -fx-background-size: stretch;
}

#ReadUser:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#UpdateUser:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#DeleteUser:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#createUser:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#BackButton:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#AcceptLogIn:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#LogInButton:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#SearchVacationButton:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#apply:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#show:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#clear:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#searchVacation:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#previousVacations:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#publishVacation:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#accountSettings:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#nextVacations:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#SearchButton:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#PublishButton:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

#ConfirmPayment:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}


#PurchaseButton:hover {
    -fx-background-color: #ffff99;
    -fx-text-fill: #000000;
}

